---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Pink Flamingos Blogging">
  <h1>Pink Flamingos Blogging</h1>
  <main>
    <sidebar>
      <nav>
        <ul>
          <li><a href="./posts/post-01">Post 01</a></li>
          <li><a href="./posts/post-02">Post 02</a></li>
          <li><a href="./posts/post-03">Post 03</a></li>
        </ul>
      </nav>
    </sidebar>
  </main>
</Layout>