---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Pink Flamingos">
  <h1>About Pink Flamingos</h1>
  <main>
    <h2>I can put anything on it!</h2>
    <p>Including pink flamingos!</p>
  </main>
</Layout>