@font-face {
  font-family: 'Josefin Sans';
  font-stretch: 0-100; /* note that font stretch is a % of the normal width */
  font-style: normal;
  font-weight: 100-700;
  src: url(/fonts/JosefinSans-VariableFont_wght.ttf);
}
@mixin josefin($weight: 400, $style: 'normal') {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
}

@font-face {
  font-family: 'Cormorant Normal';
  font-stretch: 0-100; /* Note that font-stretch is a % of normal width */
  font-style: normal;
  font-weight: 100-700;
  src: url(/fonts/Cormorant-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Cormorant Italic';
  font-stretch: 0-100; /* Note that font-stretch is a % of normal width */
  font-style: italic;
  font-weight: 100-700;
  src: url(/fonts/Cormorant-Italic-VariableFont_wght.ttf);
}
@mixin cormorant($weight: 400, $style: 'normal') {
  font-family: 'Cormorant #{$style}', serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
}